.footer {
    background-color: #202124;
    color: #faf7f0;
    padding: 20px 0;
    text-align: center;
}
p span {
    color: #b17457;
}
.footer-content {
    max-width: 800px;
    margin: 0 auto;
}
.footer-links {
    list-style: none;
    padding: 0;
}
.footer-links li {
    display: inline;
    margin: 0 15px;
}
.footer-links a {
    color: white;
    text-decoration: none;
}
.footer-links a:hover {
 
    text-decoration: underline;
}