.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    padding-top: 0;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #b17457aa;
  }
  
  .modal-image {
    width: 100%;
    border-radius: 8px;
  }
  .buttonCont{
    display: flex;
    justify-content: space-between;
  }
  .close-button {
    background-color: #b17457aa;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .close-button:hover {
    background-color: #a0634a;
  }
  /* src/Modal.css */
.buy-ticket-button {
    background-color: #20212493; /* Green color for the button */
    color: white; /* Text color */
    border: none;
    padding: 10px 27px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .buy-ticket-button:hover {
    background-color: #202124; /* Darker shade on hover */
  }
  /* src/Modal.css */
.ticket-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .ticket-button {
    background-color: #b17457; /* Button color */
    color: white; /* Text color */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 40px; /* Fixed width for buttons */
  }
  
  .ticket-count {
    margin: 0 10px; /* Space around the ticket count */
    font-size: 1.5rem; /* Larger font for visibility */
  }
  
  .ticket-button:hover {
    background-color: #a0634a; /* Darker shade on hover */
  }
  